@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-principal {
    width: 100%;
    height: 100vh;
    background-image: url(../images/lake-night-sunrise-shooting-star-anime-scenery-hd-wallpaper-uhdpaper.com-645@0@j.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c3dcf5;
}

.container-tabela {
    background-color: #131f2b2d;
    backdrop-filter: blur(1.5px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: #0F2A41;
    width: 60%;
    height: 80%;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    overflow-y: auto;
    position: relative;
}

table {
    width: 100%;
    border-spacing: 0em 2em;
    margin-top: 2em;
    max-height: 100%;
}

.cabecalho-tabela {
    width: 100%;
}


td {
    text-align: center;
    padding: 0.5em;
}


.btn {
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px)
}

.btn-icon {
    width: auto;
    border: none;
    background: transparent;
}

.btn-icon img {
    max-width: 2.8125em;
    max-height: 2.8125em;
    height: auto;
}


.formulario {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.6em;
    position: fixed;
    left: 50%; /* 295px */
    top:  10%; /* 165px */
    transform: translateX(-50%);
    background-color: rgba(80, 103, 155, 0.616);
    padding: 2em;
    border-radius: 10px;
    width: 40%;
    z-index: 1000;
    color: #0F2A41;
    
}

.mostrar{
    display: block;
}

.escondido {
    display: none;
}

.btn-form {
    background-color: #0F2A41;
    color: white;
    padding: 0.3em;
    border-radius: 10px;
}